body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana;

}

@font-face {
	font-family: headerfont;
	src: url(../fonts/Lobster_1.3.otf);
}

header {
	font-weight: bold;

}

.headerlogo {

	float: left;
	margin-left: 10px;
}

.headerlogo > img {

	height: 60px;
	width: 60px;
}

#mainHeader {

	height: 80px;
}

.searchbox {

	float: right;
	padding: 5px;
	margin: 10px 10px;
	width: 200px;
}

#headername {
	font-family: headerfont;
	font-size: 40px;
	color: #603813;
	padding: 15px;
	margin: 8px 0px;
	font-weight: bold;
	text-shadow: 5px 5px 5px #A5897E;
}

nav {
	height: 45px;
	width: 100%;
	margin-bottom:5px;
	float: left;
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
nav > ul > li a:hover {
	background-color: #008000;
}




.backgroundgradient {
	background: #603813;
	background: -webkit-linear-gradient (left, #603813, #341c05);
	background: -moz-linear-gradient (right, #603813, #341c05);
	background: linear-gradient (to right, #603813, #341c05);
}

.navlink {
	height: 33px;
	padding: 0 17px;
	font-size: 18px;
	float: left;
	padding-top: 12px;
	color: white;
	text-decoration: none;
}


.addtocartbutton {
	cursor: pointer;
	padding: 4px 25px;
	background: #603813;
	border:1px solid #381f09;


	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;

	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	
	color: #f3f3f3;
	font-size: 0.8em;
	width: 80px;

}

.addtocartbutton:hover, .addtocartbutton:focus {

	background-color: #512c0a;
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);

}



#welcomeimage {

	float: left;
	width: 700px;
	
}

#coffeeofthemonth {
	float: right;
	width: 300px;
	margin-top: 40px;
}

#welcometext {
	float: left;
	width: 70%;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
	column-count: 2;
	-webkit-column-count: 2;


}

#welcometext > header, #bestsellers > header{
	color: #603813;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 3px;
}


mark {
	background-color: #ffebcd;
}

#events {
	float: right;
	width: 30%;
	margin-top: 20px;
	margin-bottom: 20px;

}

#events > header {

	margin-left: 10px;
	color: #603813;
	font-size: 15px;
	margin-bottom: 3px;
	font-weight: bold;

}

#events > ul {
	list-style: none;

}

#events > ul > li {

	margin-bottom: 3px;
}

.productarticle {
	float:left;
	width: 150px;
}


.blockheader {
	font-family: headerfont;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
	color: #422F21;

}


#bestsellers {

	height: 100%;
	width: 700px;
	float: left;
	margin-bottom: 20px;
	clear:both;
}

footer {
	clear: both;
	width: 100%;
	background-color: #ffebcd;
	margin: 10px 0px 20px;
	padding: 5px;
	
}

.smalltext {
	font-size: 10px;
}


.coffeedetails {

	float: left;
}

.blockheader {

	font-size: 18px;
	margin-top: 30px;
	color: #603813;

}

.box {

	float: left;
	width: 670px;
	margin-top: 30px;
}

.textlabel {

	float: left;
	font-size: 12px;
	color: #603813;
	font-weight: bold;
	display: inline-block;
	clear: left;
	width: 250px;
	text-align: right;

}

.textinput {
	width: 300px;
	margin-left: 30px;
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}

.submitbutton {

	cursor: pointer;
	margin-top: 10px;
	background: #603813;
	border:1px solid #381f09;


	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;

	
	color: #f3f3f3;
	font-size: 0.8em;
	width: 80px;

}

/* video for coffeedetails.html*/

  #playButton, #backButton, #forwardButton, #muteButton {
	cursor: pointer;
	padding: 1px 5px;
	background: #603813;
	border:1px solid #381f09;


	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;

	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	
	color: #f3f3f3;
	font-size: 0.8em;
	width: 76px;

  }

#videoplayer {

	display: block;

}